body {
	font-family: tahoma;
	text-align: center;
	background-image: url('woodfloor.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: default;
}

.main {
	height: 96vh;
	width: 96vw;
	margin: 2vh auto;
}


.map-box {
	display: inline-block;
	float:left;
	height: 100%;
	width: 35%;
}

#map {
	height: 80%;
	margin-bottom: 2%;
}

.map-data {
	height: 19%;
}

.data-inner {
	background-color: white;
	width: 49%;
	height: 100%;
	display: inline-block;
}

.sensor-data {
	height: 60%;
	width: 27%;
	background-color: white;
	float: right;
	display: inline-block;
}
.sensor-inner {
	display: none;
	background-color: #69A7A9;
	margin: 20px 10%;
	padding: 15px 10%;
}

#angle {
	
}

.title {

}

.controls {
	width: 30%;
	float: left;
	height: 60%;
	display: inline-block;
	background-color: rgba(255,255,255,0.7);
	padding: 0 2%;
	margin: 0 2%;
	position: relative;
	margin-bottom: 1%;
}

.button {
	background-color: #69A7A9;
	color: white;
	text-align: center;
	padding: 10px 10%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#forward-button, #backward-button {
	border-radius: 1em;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #1B75BC;
	width: 30%;

}
#left-button, #right-button {
	border-radius: 2em;
	background-color: #F7941D;
	transform: translate(-50%,-50%);
	width: 50px;
	top: 43%;
	position: absolute;

}
#left-button {
	border-top-left-radius: 5em;
	border-bottom-left-radius: 5em;
	left: 30%;
}
#right-button {
	border-top-right-radius: 5em;
	border-bottom-right-radius: 5em;
	position: absolute;
	left: 70%;
}
#forward-button {
	border-top-left-radius: 5em;
	border-top-right-radius: 5em;
	top: 30%;
}
#backward-button {
	border-bottom-left-radius: 5em;
	border-bottom-right-radius: 5em;
	top: 56%;
}
#on-button {
	border-radius: 5em;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #FD600D;
	top: 78%;
	width: 60%;
}
#off-button {
	border-radius: 5em;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #ED1C24;
	top: 90%;
	width: 60%;
}

#forward-button:hover, #backward-button:hover,
#left-button:hover, #right-button:hover,
#off-button:hover, #on-button:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

.roomba-bumpers {
	background-color: rgba(0,0,0,0.75);
	color: white;
	width: 63%;
	margin-left: 2%;
	height: 38%;
	display: inline-block;
	position: relative;
}
.roomba-image {
	position: absolute;
	height: 90%;
	left: 0;
}
.sensors-display {
	position: absolute;
	right: 10%;
}


